.canvas-workspace {
  grid-template-rows: auto minmax(0, 1fr) 39px;
}

.tool {
  min-width: 64px;
}

@media (max-width: 1150px) {
  .tool { min-width: 60px; }
}

@media (max-width: 850px) {
  .tool { min-width: 56px; }
}
